.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 65px;
  position: absolute;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card .fixed-action-btn{
  position: absolute;
  float: right;
  top: -21px;
  right: -16px;
}
.managing-links{
  visibility: hidden;
}